<div class="about">
  <p class="about">Saffron Palace, originally Saffron Indian Cuisine is now reopen under new management starting Monday 26th November, 2018.</p>
  <div class="about_motto">
    <p class="about_motto">Motto: We proudly serve tasty authentic Indian food with dignity and respect.</p>
  </div>
  <div class="about_team">
  <p class="about_team">Meet our team:</p>
    <ul>
      <p>
        Host - Paul Mithra
      </p>
      Passion:
        <li class="about_team interest">
          Cooking
        </li>
      Interests:
        <li class="about_team interest">
          Story telling.
        </li> 
    </ul>
    <ul>
      <p>
        Host - Shruthi Kapila
      </p>
      Passion:
        <li class="about_team interest">
          Fashion and Beauty.
        </li>
      Interests:
        <li class="about_team interest">
          Serving mankind with compassion to spead happiness and joy.
        </li> 
    </ul>
    <ul>
      <p>
        Chief Chef - Sam Sahai
      </p>
      Passion:
      <li class="about_team interest">
        Creating new recipes to feed people.
      </li>
      Experience:
      <li class="about_team interest">
        Fifteen years in cooking Indian dishes, speacialized in Mugalai, Indo chinese and North Indian dishes. 
      </li>
    </ul>
  </div>
</div>