<div class="about">
  <p class="about">Saffron Palace, originally Saffron Indian Cuisine is now reopening under new management in the last week of November, 2018.</p>
  <div class="about_motto">
    <p class="about_motto">Motto: We proudly serve tasty authentic Indian food with dignity and respect.</p>
  </div>
  <div class="about_team">
  <p class="about_team">Meet our team:</p>
    <ul>
      <p>Host - Paul Mithra</p>
      Passion:
      <li>
        Cooking
      </li>
      Interests:
      <li>
        Story telling.
      </li> 
    </ul>
    <ul>
      Chief Chef - Samual Sahai
      <li>Passion:</li>
      <p>

      </p>
      <li>Interests:</li>
      <p>
        15 years of Cooking experience, passionate about creating new recipes and feeding people. Speacialized in Mugalai, Indo chinese and North
      </p>
    </ul>
  </div>
</div>
