<div class="about">
  <p id="image"></p>
  <p>The Saffron filaments, or threads, are actually the dried stigmas of the saffron flower,
    &quot;Crocus
    Sativus Linneaus&quot;. Each flower contains only three stigmas. These threads must be picked from each flower by
    hand, and more than 75,000 of these flowers are needed to produce just one pound of Saffron filaments, making it
    the
    world's most precious spice. But, because of saffron's strong coloring power and intense flavor, it can be used
    sparingly.</p>
  <p>Most precious and most expensive spice in the world : Saffron as a spice, it is used for colouring
    and flavour, while giving a distinct aroma and a beautiful golden colour. There is a great list of foods where
    saffron is added including cheese products such as cottage cheese, chicken and meat, various spirits and rice,
    commonly used in Indian Cuisine. Unlike other spices, a good pinch will suffice to add flavour and colour most
    dishes. </p>
  <p>As a therapeutically plant, saffron it is considered an excellent stomach ailment and an
    antispasmodic, helps digestion and increases appetite. It is also relieves renal colic, reduces stomachaches and
    relieves tension. </p>
  <p>During the last years it was used as a drug for flu-like infections, depression, hypatomegaly and
    as
    a sedative for its essential oils. It is also considered that in small quantities it regulates women's
    menstruation,
    and helps conception. It is a fact that even since antiquity, crocus was attributed to have aphrodisiac properties.
    Many writers along with greek mythology sources associate crocus with fertility. Crocus in general is an excellent
    stimulant. </p>
</div>
