.menu {
  color: gold;
  height: 100%
}

.mdl-card {
  background: black;
  min-height: 10px;
  width: 90%;
  margin: 5px;
  opacity: 0.81;
}

.mdl-card__title {
  padding: 16px 16px 0 16px;
}

.mdl-card__supporting-text {
  padding: 2px 16px 0 16px;
}

.menu-category li {
  list-style: none;
}

.item-category {
  font-family: Samarkan;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-category-description {
  font-family: 'Roboto',
    sans-serif;
  color: gold;
}

.item {
  display: block;
}

.item-name {
  font-family: Roboto;
  font-size: 1.3em;
  display: block;
  float: left;
  color: gold;
}

.item-price {
  display: block;
  float: right;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3em;
  color: gold;
}

.item-description {
  font-family: 'Roboto',
    sans-serif;
  color: gold;
  font-size: 14px;
}

@media screen and (max-width: 415px) {
  item-category {
    font-size: 20px;
  }

  .item-name {
    font-size: 16px;
  }

  .item-price {
    font-size: 18px;

  }

  .item-description {
    font-size: 12px;
  }

}
