@font-face {
  font-family: Roboto;
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Calligraffitti;
  src: local("Calligraffiti-webfont.ttf"),
    url("/assets/fonts/Calligraffiti-webfont.ttf") format("truetype");
  font-weight: bold;
}

a.title-anchor {
  text-decoration: none;
}

nav a:hover {
  color: gold;
}

.app-title {
  margin: 20px;
  font-family: Calligraffitti, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3em;
  color: gold;
}


#nav-text {
  font-family: Calligraffitti,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 2em;
  color: gold
}


.mdl-mini-footer__right-section a {
  color: gold;
}


.mdl-layout__drawer {
  background: black;
}

.mdl-layout__drawer .mdl-navigation a:hover {
  background-color: gray
}

@media screen and (max-width: 415px) {
  .app-title {
    font-size: 2em;
  }


  #nav-text {
    font-size: 1.5em;
  }
}
