<!--The content below is only a placeholder and can be replaced.-->
<div class="layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a class="title-anchor" routerLink="">
        <span class="mdl-layout-title app-title">{{ title }}</span>
      </a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="" routerLink="/menu" id="nav-text">Menu</a>
        <a class="mdl-navigation__link" href="" routerLink="/about" id="nav-text">About</a>
        <a class="mdl-navigation__link" href="" routerLink="/contact" id="nav-text">Contact</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <a class="title-anchor" routerLink="">
      <span class="mdl-layout-title app-title">{{ title }}</span>
    </a>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="" routerLink="/menu" id="nav-text">Menu</a>
      <a class="mdl-navigation__link" href="" routerLink="/about" id="nav-text">About</a>
      <a class="mdl-navigation__link" href="" routerLink="/contact" id="nav-text">Contact</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- Your content goes here -->
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
      <ul class="mdl-mini-footer__link-list">
        <li>
          <a href="{{contact.facebookURL}}">
            <i class="material-icons ">thumb_up_alt</i>
          </a>
        </li>
        <li>
          <a href="{{contact.email}}">
            <i class="material-icons ">mail_outline</i>
          </a>
        </li>
        <li>
          <a href="{{contact.phone}}">
            <i class="material-icons ">phone</i>
          </a>
        </li>
        <li id="direction">
          <a href="https://goo.gl/maps/aEFUdomNEBR2">
            <i class="material-icons">directions</i>
          </a>
        </li>
      </ul>
    </div>
    <div class="mdl-mini-footer__right-section">
      <a href="https://goo.gl/maps/aEFUdomNEBR2">
        <i class="material-icons">directions</i>{{ contact.address }}
      </a>
    </div>
  </footer>
</div>
